
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d0d0d;
    color: #ccc;;
    margin: 0 8vh;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    cursor: none;
}

h2 {
    font-size: 4rem;
    margin: 0 10vh;
    font-family: 'Poppins', sans-serif;
}

section {
    margin: 12rem 0;
}

/* Custom Cursor Styles */
.main-cursor {
    position: fixed;
    width: 20px; /* Adjust the cursor size as needed */
    height: 20px; /* Adjust the cursor size as needed */
    border: 2px solid white;
    border-radius: 50%;
    mix-blend-mode: difference; /* For a smooth effect */
    pointer-events: none;
    transition: all 0.5s ease;
    transform: translate(-50%, -50%);
    transition-property: width, height, border;
    will-change: width, height, border;
    z-index: 9999; /* Ensure the cursor stays on top */
    background-color: white; /* Added for visibility */
  }
  
  

/* Menu Styles */
.header {
    align-items: center;
    padding-top: 5vh;
}

.menu-content {
    
    background-color: rgb(32, 32, 32); 
    border-radius: 50px; 
    padding: 5px 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%); 
    z-index: 9999; /* Sets a high z-index to ensure it's on top of other elements */

}

.menu-list {
    gap: 50px;
    list-style: none;
    display: flex;
}

li a {
    cursor: none; /* Hide the default cursor */
    padding-bottom: 5px;
    text-decoration: none;
    color: #E6E6E6;
    transition: color 0.3s ease;
    position: relative;
}


li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #E6E6E6;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: revert;
    transition: transform 0.4s ease;
}

li a:hover {
    color: #ffffff;
}

li a:hover::after {
    transform: scaleX(1);
    transform-origin: revert;
}

.logo {
    margin-right: 50px;
    margin-left: 15px;
}

.logo a {
    cursor: none; /* Hide the default cursor */

}
.cta-email {
    cursor: none; /* Hide the default cursor */
    text-decoration: none;
    background: linear-gradient(to right, #ff8f70, #ff7194, #ff71d6, #e672ff, #a572ff);
    color: white;
    padding: 13px 30px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: background 0.5s ease;
}

.cta-email::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    transition: width 0.5s ease;
}

.cta-email:hover::before {
    width: 100%;
}

.cta-email span {
    position: relative;
    z-index: 2;
}

.cta-email:hover span {
    color: black; /* Change text color to black on hover */
}

.cta-email:hover {
    background: linear-gradient(to right, #ff8f70, #ff7194, #ff71d6, #e672ff, #a572ff);
}

/*Hello Styles*/
h1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 15rem;
    font-size: 14.2rem;
    line-height: 200px;
}

.scroll-down {
    display: flex;
    align-items: center;
    overflow: hidden; /* Hide the overflowing content */
}
.scroll {
    margin-right: 25px;
    font-family: 'Bebas Neue', sans-serif;    
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 900;
    
}

.down {
    font-family: 'Lato', sans-serif;    
    font-size: 1.5rem;
    font-weight: lighter;
    margin-right: 25px;
    letter-spacing: -1px;
}


/* Animation */
@keyframes scrollAnimation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

#scrollText {
    overflow: hidden;
    display: inline-block;
    white-space: normal; /* Keep the text in a single line */
    animation: scrollAnimation 40s linear infinite;
}





/*About Styles*/
.main-p {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 0 10vh;
}

.keywords {
    position: relative;
    display: inline-block;
    padding: 0 3px;
    transition: color 0.4s;
    vertical-align: bottom; /* Align text to the bottom */
  }
  
  .keywords::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(to right, #ff8f70, #ff7194, #ff71d6, #e672ff, #a572ff); /* Highlight color */
    z-index: -1;
    transition: height 0.4s;
  }
  
  .keywords:hover::before {
    height: 100%; /* Expand height to cover text */
  }
  
  .keywords:hover {
    color: black; /* Hide text on hover */
  }
  
  
  

.sub-p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 5vh 125px 5vh 700px;
}

.separator {
    border: 1px solid #E2E2E2;
    margin: 10vh 550px 0 700px;
}

/* Original styling */
.sub-p span {
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: bottom;
}

.resume-cta span {
    margin-right: 5px;
}

.download-r {
    width: 18px;
    height: 18px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(5px);
    position: absolute;
    top: 50%;
    right: 20px;
}

.resume-cta:hover .download-r {
    opacity: 1;
    transform: translateY(-50%);
}

.resume-cta {
    cursor: none; /* Hide the default cursor */
    text-decoration: none;
    background: linear-gradient(to right, #ff8f70, #ff7194, #ff71d6, #e672ff, #a572ff);
    color: white;
    padding: 13px 40px;
    border-radius: 35px;
    margin-left: 700px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: background 0.5s ease;
}

.resume-cta::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    border-radius: 35px;
    transition: width 0.5s ease;
}

.resume-cta:hover::before {
    width: 100%;
}

.resume-cta span {
    position: relative;
    z-index: 2;
}

.resume-cta:hover span {
    color: black; /* Change text color to black on hover */
}

.resume-cta:hover {
    background: linear-gradient(to right, #ff8f70, #ff7194, #ff71d6, #e672ff, #a572ff);
}




/*Project Styles*/

.projects {
    display: inline-block;
}

.project-list {
    list-style: none;
    display: inline-block;
}

.project-items {
    margin-top: 30px;
    border: 1px solid #2b2b2b;
    padding: 20px 50px;
    border-radius: 25px;
}

.project-info {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    padding-bottom: 10px;
}

.project-info h4 {
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;    
    white-space: nowrap; /* Prevent h4 from wrapping onto the second line */

}

.features {
    display: flex;
    flex-direction: column;
    color: #777777;
    font-weight: 100;
}

.spacer {
    width: 60vh; /* Adjust width to control spacing */
}

.see-more {
   margin-left: 40vh;
}

/* Add this animation style */
/* Position the hover image */
.hover-image {
    position: fixed;
    top: calc(var(--cursor-y) - 50px);
    left: calc(var(--cursor-x) - 50px);
    transition: opacity 0.3s ease-in-out, transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1000;
    width: 400px;
    height: auto;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
}


/* Show the hover image on hover */
.crust-society:hover .hover-image {
    opacity: 1; /* Show the image */
    transform: translate(-50%, -50%) scale(1); /* Scale to 100% and center */
}








/*Service Styles*/
h3 {
    font-weight: lighter;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.service {
    margin-bottom: 0;
}

.skill-container {
    margin: 5vh 10vh 0 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
    gap: 2.5rem;
}


.skill-card {
    flex: 0 0 auto;
    max-width: 500px;
    position: relative;
    border: 1px solid #2b2b2b;
    border-radius: 25px;
    padding: 30px 40px;
    box-sizing: border-box;
    word-wrap: break-word;
    transition: background-color 0.5s, color 0.5s;
    overflow: hidden;
}

.skill-card:nth-last-child(-n+2) {
    /* Styles pour les deux dernières cartes */
    /* Par exemple, tu peux ajuster la couleur de fond ou la hauteur ici */
    padding-bottom: 80px;
}

.skill-card::after {
    content: "";
    position: absolute;
    margin-right: 20px;
    margin-bottom: 20px;
    bottom: 0;
    right: 0;
    width: 25px; /* Adjust circle width */
    height: 25px; /* Adjust circle height */
    background-color: white; /* Circle color */
    border-radius: 50%;
    transition: width 0.5s, height 0.5s, top 0.5s, right 0.5s, background-color 0.8s, transform 0.5s;
    z-index: -1;
    transform-origin: bottom right; /* Set transform origin to bottom right */
}

.skill-card:hover::after {
    width: 45%; /* Adjust circle expansion width */
    height: 95%; /* Adjust circle expansion height */

    background-color: white; /* Circle background color on hover */
}

.skill-card:hover {
    background-color: white; /* Change background color on hover */
    color: black; /* Change text color on hover */
}

.skill-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, etc. */
}


  

  /*Footer Style*/
  .footer-container {
    display: inline-flex;
    justify-content: space-between;
    gap: 60vh;
    background: white;  
    border-radius: 4vh;
    font-size: 14px;
    padding: 20px 40px;
    width: 100%;
}

.footer-container p {
    font-weight: 100;
    color: rgb(77, 77, 77);
}

.footer-links a {
    text-decoration: none;
    color: black;
}

.back-to-top {
    width: 19px; /* Set the desired width */
    height: 16px; /* Set the desired height */
    opacity: 0; /* Initially make the SVG invisible */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Add transitions for smooth animation */
    transform: translateY(20px); /* Move the SVG down slightly by its height */
}

.scroll-up-link:hover ~ .back-to-top {
    opacity: 1; /* Make the SVG visible on hover */
    transform: translateY(0); /* Move the SVG up to its original position on hover */
}




































/* Pour les téléphones et appareils avec une largeur maximale de 767px */
@media only screen and (max-width: 480px) {
    body {
        /* Ajoute des styles pour une meilleure lisibilité sur de petits écrans */
        margin: 0; /* Réinitialise la marge pour utiliser l'espace disponible */
        font-size: 14px; /* Ajuste la taille de la police pour une meilleure lisibilité */
    }

    /* Styles pour le header/menu */
    .menu-content {
        position: relative; /* Reset to default positioning */
        left: auto; /* Reset to default */
        top: auto; /* Reset to default */
        transform: none; /* Reset to default */
        flex-direction: column; /* Align elements in a column */
        align-items: center; /* Center elements horizontally */
    }
    
    /* Adjust the style of menu elements for smaller screens */
    .menu-list {
        padding: 0; /* Reset default padding */
        display: flex;
        flex-direction: row; /* Align list items in a column */
        align-items: center; /* Center list items horizontally */
        justify-content: center; /* Center list items vertically */
    }
    
    li {
        font-size: 12px;
        margin-bottom: 10px; /* Add margin between list items */
    }
    
    /* Adjust the size and spacing of the logo for smaller screens */
    .logo {
        margin: 10px 0; /* Adjusted spacing for smaller screens */
        width: 40px; /* Define a specific width for the logo */
        height: 40px; /* Define a specific height for the logo */
    }
    
    /* Replace CTA text with "Email" for phone screens */
    .cta-email  {
        display: none; /* Hide the text */
    }
   
    

    /* Styles pour les sections, les titres, le texte, etc. */
    h1 {
        /* Ajuste la taille du titre principal */
        font-size: 6rem;
    }

    /* Autres styles pour les sections, les paragraphes, etc. */
    .main-p {
        /* Ajuste la taille du paragraphe principal */
        font-size: 1.8rem;
        margin: 0 5%; /* Ajuste la marge pour une meilleure disposition */
    }

}
