
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d0d0d;
    color: #ccc;;
    margin: 0 8vh;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    cursor: none;
}


section {
    margin: 12rem 0;
}

/* Custom Cursor Styles */
.main-cursor {
    /* Styles for the default cursor */
    position: fixed;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: all 0.5s ease;
    transform: translate(-50%, -50%);
    transition-property: width, height, border;
    will-change: width, height, border;
    z-index: 9998; /* Ensure the cursor stays below the custom cursor */
    background-color: white;
    transition: width 0.5s ease, height 0.5s ease; /* Add transitions for width and height */


}

.image-container:hover .main-cursor {
    display: none; /* Hide the main cursor on image hover */
}


.custom-cursor {
    /* Styles for the custom cursor */
    position: fixed;
    top: -50%;
    left: -50%;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.3s ease;
    font-size: 14px;
    width: 60px;
    height: 60px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    border-radius: 50%;
    color: rgb(19, 19, 19);
    background-color: white;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    transition: width 0.3s ease, height 0.3s ease, transform 0.3s ease; /* Add transitions for width, height, and transform */
}


.custom-cursor:hover {
    /* Adjust width and height on hover to simulate growth */
    width: 70px;
    height: 70px;
    font-size: 14px; /* Reset font-size when hovering for text display */
}

.image-container:hover .custom-cursor {
    transform: translate(-50%, -50%);
}
  
  


.container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr); /* Two columns of equal width */
    gap: 40px; /* Gap between the columns */
    overflow: hidden; /* Hide content overflow */
}

.project {
    /* Styles for the project description section on the left */
    position: sticky;
    top: 0;
    height: 100vh; /* Takes full viewport height */
    overflow-y: hidden; /* Disable vertical scrolling */
    padding: 20px; /* Add padding for content */
    z-index: 1; /* Ensure it stays above other content */
}

.project-images {
    /* Styles for the project images section on the right */
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100vh; /* Takes full viewport height */
    padding: 20px; /* Add padding for content */
     /* Hide scrollbar */
     scrollbar-width: none; /* Firefox */
     -ms-overflow-style: none; /* Internet Explorer/Edge */
}

.project-images::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome/Safari */
}


.project-images img {
    max-width: 100%; /* Set maximum width within their container */
    height: auto; /* Maintain aspect ratio */
}


h1 {
    font-size: 5rem;
    text-transform: uppercase;

}

.project-description {
    font-size: 1rem;
    margin-top: 20px;
    width: 80%;
    color:#aaaaaa;
    margin-bottom: 20px;
}

.keywords {
    display: flex;
}

.keywords li {
    list-style: none;
    margin-right :10px;
    border-radius: 25px;
    border: 1px solid white;
    padding: 8px 15px;
    text-transform: uppercase;
}

.back_home {
    text-decoration: none;
    color: white;
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
    cursor: none; /* Hide the default cursor */

}

.back_home::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease; /* Transition effect for width change */
}

.back_home:hover::after {
    width: 100%; /* Expand the width on hover */
}

.back_home svg {
    margin-left: 10px;
}

/*IMAGE ANIMATION ZOOM IN*/


  /*Footer Style*/
  .footer-container {
    display: inline-flex;
    justify-content: space-between;
    gap: 60vh;
    background: white;  
    border-radius: 4vh;
    font-size: 14px;
    padding: 20px 40px;
    width: 100%;
}

.footer-container p {
    font-weight: 100;
    color: rgb(77, 77, 77);
}

.footer-links a {
    text-decoration: none;
    color: black;
}

.back-to-top {
    width: 19px; /* Set the desired width */
    height: 16px; /* Set the desired height */
    opacity: 0; /* Initially make the SVG invisible */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Add transitions for smooth animation */
    transform: translateY(20px); /* Move the SVG down slightly by its height */
}

.scroll-up-link:hover ~ .back-to-top {
    opacity: 1; /* Make the SVG visible on hover */
    transform: translateY(0); /* Move the SVG up to its original position on hover */
}
